NUMPY

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
#1Write a NumPy program to multiply two given arrays of same size element-by-element.
import numpy as np

ar1 = np.array([1, 2, 3, 4])
ar2 = np.array([5, 6, 7, 8])

result = np.multiply(ar1, ar2)
print(result)

[ 5 12 21 32]

In [7]:
#2Write a NumPy program to find the missing data in a given array.
import numpy as np

ar = np.array([[1, 2, np.nan], [4, 5, 6], [np.nan, 7, np.nan]])

missing_values = np.isnan(ar)

print("Missing values mask:\n", missing_values)

missing_indices = np.where(missing_values)
print("Indices of missing values:\n", missing_indices)

actual_missing_values = ar[missing_indices]
print("Actual missing values:\n", actual_missing_values)

Missing values mask:
 [[False False  True]
 [False False False]
 [ True False  True]]
Indices of missing values:
 (array([0, 2, 2]), array([2, 0, 2]))
Actual missing values:
 [nan nan nan]

In [8]:
#3Write a NumPy program to test whether each element of a 1-D array is also present in a second array.
import numpy as np

ar1 = np.array([1, 2, 3, 4])
ar2 = np.array([2, 4, 6, 8])

is_present = np.isin(ar1, ar2)

print("Elements in ar1 present in ar2:", is_present)

Elements in ar1 present in ar2: [False  True False  True]

In [9]:
#4Write a NumPy program to save a NumPy array to a text file.
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

np.savetxt("array.txt", arr, delimiter=" ")

np.savetxt("array_comma.txt", arr, delimiter=",")

print("Arrays saved successfully!")

Arrays saved successfully!

In [12]:
#5Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive.
import numpy as np

start = 1.5
end = 6.7

num_elements = 30
spacing = (end - start) / (num_elements - 1)

ar = np.linspace(start, end, num_elements)

print(ar)

[1.5        1.67931034 1.85862069 2.03793103 2.21724138 2.39655172
 2.57586207 2.75517241 2.93448276 3.1137931  3.29310345 3.47241379
 3.65172414 3.83103448 4.01034483 4.18965517 4.36896552 4.54827586
 4.72758621 4.90689655 5.0862069  5.26551724 5.44482759 5.62413793
 5.80344828 5.98275862 6.16206897 6.34137931 6.52068966 6.7       ]

PANDAS

In [13]:
#1Write a Pandas program to convert Series of lists to one Series.
import pandas as pd

s = pd.Series([['Red', 'Blue', 'White'], ['Red', 'Black'], ['Yellow']])

single_series = s.apply(pd.Series).stack().reset_index(drop=True)

print(single_series)

0       Red
1      Blue
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [14]:
#2Write a Pandas program to create a subset of a given series based on value and condition.
import pandas as pd

s = pd.Series([5, 26, 15, 33, 48, 83])

subset1 = s[s > 23]
subset2 = s[s % 2 == 0]

print("Values greater than 23:", subset1)
print("Even numbers:", subset2)

Values greater than 23: 1    26
3    33
4    48
5    83
dtype: int64
Even numbers: 1    26
4    48
dtype: int64

In [15]:
#3Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
import pandas as pd

s = pd.Series(['Apple', 'Banana', 'Apple', 'Orange', 'Apple', 'Mango', 'Banana'])

most_frequent = s.value_counts().index[0]

s[~s.isin(s.value_counts().index[:1])] = 'Other'

print("Most frequent value:", most_frequent)
print("Modified Series:", s)

Most frequent value: Apple
Modified Series: 0    Apple
1    Other
2    Apple
3    Other
4    Apple
5    Other
6    Other
dtype: object

In [16]:
#4Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
import pandas as pd

s = pd.Series([5, 26, 15, 33, 48, 83])

positions = s.index[s % 5 == 0]

print("Positions of multiples of 5:", positions)

Positions of multiples of 5: Int64Index([0, 2], dtype='int64')

In [18]:
#5Write a Pandas program to calculate the number of characters in each word in a given series.
import pandas as pd

s = pd.Series(['Hello', 'World', 'This', 'is', 'a', 'Numpy', 'and', 'Pandas', 'Series'])

char_counts = s.str.len()

print("Character counts:", char_counts)

Character counts: 0    5
1    5
2    4
3    2
4    1
5    5
6    3
7    6
8    6
dtype: int64

In [19]:
#6Write a Pandas program to convert year-month string to dates adding a specified day of the month.
import pandas as pd

data = ["2023-01", "2024-02", "2025-03"]

s = pd.Series(data)

day = 15

dates = pd.to_datetime(s, format="%Y-%m")
dates += pd.to_timedelta(day, unit="D")

print("Dates with added day:", dates)

Dates with added day: 0   2023-01-16
1   2024-02-16
2   2025-03-16
dtype: datetime64[ns]

In [20]:
#7Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "London", "Paris"],
}

index_labels = ["Person 1", "Person 2", "Person 3"]
df = pd.DataFrame(data, index=index_labels)

print(df)

             Name  Age      City
Person 1    Alice   25  New York
Person 2      Bob   30    London
Person 3  Charlie   35     Paris

In [21]:
#8 Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
import pandas as pd

data = {'Student': ['Alice', 'Bob', 'Charlie', 'David'],
        'Attempts': [1, 3, 2, 4]}

df = pd.DataFrame(data)

selected_rows = df[df['Attempts'] > 2]

print("Original DataFrame:")
print(df)
print("\nRows where the number of attempts is greater than 2:")
print(selected_rows)

Original DataFrame:
   Student  Attempts
0    Alice         1
1      Bob         3
2  Charlie         2
3    David         4

Rows where the number of attempts is greater than 2:
  Student  Attempts
1     Bob         3
3   David         4

In [22]:
#9Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

new_row_values = {'A': 10, 'B': 11, 'C': 12}

df = df.append(new_row_values, ignore_index=True)

print("DataFrame with new row:\n", df)

df = df.iloc[:-1]

print("\nOriginal DataFrame:\n", df)

DataFrame with new row:
     A   B   C
0   1   4   7
1   2   5   8
2   3   6   9
3  10  11  12

Original DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [23]:
#10Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by &#39;score&#39; in ascending order.
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'score': [90, 85, 75, 80, 95]}
df = pd.DataFrame(data)

df = df.sort_values(by=['name', 'score'], ascending=[False, True])

print(df)

      name  score
4      Eve     95
3    David     80
2  Charlie     75
1      Bob     85
0    Alice     90

In [24]:
#11Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'score': [90, 85, 75, 80, 95],
        'qualify': ['yes', 'no', 'yes', 'no', 'yes']}
df = pd.DataFrame(data)

df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})

print(df)

      name  score  qualify
0    Alice     90     True
1      Bob     85    False
2  Charlie     75     True
3    David     80    False
4      Eve     95     True

In [25]:
#12Write a Pandas program to remove infinite values from a given DataFrame.
import pandas as pd
import numpy as np

data = {'col1': [1, np.inf, 3, np.nan, -np.inf],
        'col2': [4, 5, np.inf, 7, 8]}
df = pd.DataFrame(data)

df = df.replace([np.inf, -np.inf], np.nan)

df = df.dropna()

print(df)

   col1  col2
0   1.0   4.0